// RESET
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  em {
    font-style: normal;
  }

// VARIABLES
$red: #BD232F;
$bg-dark: #2E313A;
$bg-super-dark: #1F2127;
$border-radius-md: 12px;

h1, h2, h3, h4 {
    font-weight: bold;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

.section {
    &__wrapper {
        max-width: 1200px;
        margin: auto;
        padding: 4rem 20px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
}

.skill-box {
    background-color: $red;
    color: white;
    padding: 1.5rem;
    border-radius: $border-radius-md;
    font-weight: bold;

    svg {
        font-size: 48px;
        margin-bottom: 1rem;
    }
}

.work-block {
    background-color: $bg-super-dark;
    color: white;
    padding: 1.5rem;
    border-radius: $border-radius-md;

    &__headline {
        display: flex;
        justify-content: space-between;

        >div {
            >div {
                display: flex;
                align-items: center;
                column-gap: 1rem;

                img {
                    height: 48px;
                }
                .title {
                    font-size: 2rem;
                    font-weight: bold;
                }

            }
        }
    }

    &__text {
        margin-top: 1.5rem;

        ul {
            list-style: disc inside;
        }
    }
}

html {
    background-color: #ECEAED;
    color: #020003;
    font-size: 16px;
}

#header {
    height: 5rem;

    .wrapper {
        max-width: 1200px;
        height: 100%;
        margin: auto;
        padding: 4rem 20px;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#skills {
    .section__wrapper {
        >div {
            margin-bottom: 3rem;
        }

        #skills-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }
    }
}

#stack {

    h3 {
        margin-bottom: 1.5rem;
    }

    .chakra-tag__root {
        height: 64px;

        .chakra-tag__startElement {
            height: 48px;
            width: 48px;

            img {
                height: 100%;
                width: auto;
            }
        }
    }

    #stack-first-row {
        margin-bottom: 3rem;
    }

    >div {
        >div {
            display: flex;
            flex-direction: column;
            row-gap: 3rem;
        }
    }
    .stack-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

#experience {
    background-color: $bg-dark;
    
    h2 {
        color: white;
        text-align: center;
    }

    .section__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }
}

#education {

    h2 {
        text-align: center;
    }
    
    .section__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }
}

#footer {
    background-color: $bg-dark;

    .wrapper {
        max-width: 1200px;
        height: 100%;
        margin: auto;
        padding: 4rem 20px;

        img {
            margin: auto;
        }

        .socials-container {
            display: flex;
            column-gap: 2rem;
            margin: auto;
            justify-content: center;
            padding: 2rem 0;
        }

        .divider {
            background-color: $bg-super-dark;
            width: 100%;
            height: 2px;
        }
    }
}
@media only screen and (min-width: 768px) {

    .section {
        &__wrapper {
            padding: 6rem 20px;
        }
    }

    #skills {
        .section__wrapper {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 1rem;

            >div {
                margin-bottom: 0;
            }

            #skills-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1rem;
            }
        }
    }

    #stack {

        .section__text, #frameworks {
            padding-right: 2rem;
        }

        #languages, #tools {
            padding-left: 2rem;
            border-left: 2px solid #949494;
        }
        
        #frameworks, #tools {
            padding-top: 2rem;
        }
        .section__text {
            padding-bottom: 2rem;
        }

        #stack-first-row {
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            border-bottom: 2px solid #949494;
            margin-bottom: 0;
        }

        #stack-second-row {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
        }
    }
}